<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProgrammingIVMailClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProgrammingIVMailClient.Properties.Settings>
            <setting name="username1" serializeAs="String">
                <value />
            </setting>
            <setting name="password1" serializeAs="String">
                <value />
            </setting>
            <setting name="popaddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="connname1" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpaddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="popport1" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpport1" serializeAs="String">
                <value />
            </setting>
        </ProgrammingIVMailClient.Properties.Settings>
    </userSettings>
</configuration>